<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>SLP出席管理システム</title>
    {% block head %}{% endblock %}
</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <h1 class="headline">
            <img src="{{ url_for('static', filename='img/favicon.ico') }}"  width="50"  height="50">
            <a class="navbar-brand" href="/attendance">SLP出席管理システム</a>
        </h1>
        <nav>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    
                    <a class="nav-link" href="/attendance/member">メンバー登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://miku.eng.kagawa-u.ac.jp/658b1caaa7490fb7611f5486">使い方</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer class="footer mt-5">
        <div class="container">
            <p class="text-muted">© All rights reserved by SLP.</p>
        </div>
    </footer>    
</body>

</html>
