{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1 class="mt-4">活動日：{{ currentDate_str }}</h1>
        <div class="card mt-3">
            <div class="card-body">
                <h3 id="D3"></h3>
                <h3 id="D2"></h3>
                <h3 id="D1"></h3>
                <h3 id="M2"></h3>
                <h3 id="M1"></h3>
                <h3 id="B4"></h3>
                <h3 id="B3"></h3>
                <h3 id="B2"></h3>
                <h3 id="B1"></h3>
            </div>
        </div>

        <script>
            var element, numbers = "{{ numbers }}";
            // {% for user in users %} //
                if ( numbers.includes("{{ user.number }}") ) { 
                    element = document.getElementById("{{ user.grade }}")
                    if (element.innerHTML == "") {
                        element.innerHTML = "○ {{ user.grade }} {{ numbers[user.number] }}";
                    } else {
                        element.innerHTML += "、{{ numbers[user.number] }}";
                    }
                }
            // {% endfor %} //
        </script>

        <h2 class="mt-4">出席者追加</h2>
        <div class="form mt-3">
            <form action="/attendance/date/{{ currentDate_str }}" method="POST">
                <div class="form-group">
                    <select class="form-control" name="number" style="width: 150px;" required>
                        <option hidden value="">名前</option>
                        {% for user in users %}
                            <option value="{{ user.number }}">{{ user.grade }}：{{ user.last_name }} {{ user.first_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 150px;">追加</button>
            </form>
        </div>

    <h2 class="mt-4">出席情報</h2>
    <table class="table">
        <thead>
            <tr>
                <th>学籍番号</th>
                <th>日時</th>
                <th>詳細</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            {% for date in dates %}
                <tr>
                    <td>{{ date.number }}</td>
                    <td>{{ date.date }}</td>
                    <td><a href="/attendance/user/{{ date.number }}" class="btn btn-info btn-sm" role="button">詳細</a></td>
                    <td><a href="/attendance/delete/{{ date.id }}" class="btn btn-danger btn-sm" role="button">削除</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}