{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h1>メンバー登録</h1>
    <div class="mt-3">
        <h2 class="mt-4">LDAPからユーザー情報を取得</h2>
        <form class="mb-4" action="/attendance/member" method="POST">
            <input class="btn btn-primary" type="submit" style="width: 150px;" value="更新">
        </form>
    </div>

    <h2 class="mt-4">SLPメンバー一覧</h2>
    <table class="table">
        <thead>
            <tr>
                <th>学籍番号</th>
                <th>名前</th>
                <th>フリガナ</th>
                <th>学年</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.number }}</td>
                    <td>{{ user.last_name }} {{ user.first_name }}</td>
                    <td>{{ user.furigana }}</td>
                    <td>{{ user.grade }}</td>
                    <td><a href="/attendance/user/{{ user.number }}" class="btn btn-info btn-sm" role="button">詳細</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}