{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h1>ユーザー情報</h1>
    <div class="card mt-3">
        <div class="card-body">
            <h3>学籍番号：{{ user.number }}</h3>
            <h3>名前：{{ user.last_name }} {{ user.first_name }}</h3>
            <h3>フリガナ：{{ user.furigana }}</h3>
            <h3>学年：{{ user.grade }}</h3>
        </div>
    </div>

    <div class="mt-3">
        <form action="/attendance/user/{{ currentNumber }}" method="POST">
            <div class="form-group">
                <label for="furigana">フリガナ変更（全角カタカナ）</label>
                <input type="text" class="form-control" name="furigana" style="width: 150px;" placeholder="例　キダコウジ">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="width: 150px;">変更</button>
        </form>
    </div>

    <h2 class="mt-4">出席情報</h2>
    <table class="table">
        <thead>
            <tr>
                <th>日時</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            {% for date in dates %}
                <tr>
                    <td>{{ date.date }}</td>
                    <td><a href="/attendance/delete/{{ date.id }}" class="btn btn-danger btn-sm" role="button">削除</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}